h1{
    font-size: 50px;
    color: royalblue;
}
h3{
    color: rebeccapurple;
    text-decoration: underline;
}
h2{
    color: brown;
}
h4{
    color:goldenrod;
    text-decoration: underline;
}


li > p{
    font-size: 20px;
    color:cadetblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#contact-us > h3{
    text-decoration: underline;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navigation{
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    width:900px;
    height: 60px;
    background: whitesmoke;
}